#submit-button input {
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#27292B none repeat scroll 0 0;
    color:#FFFFFF;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    margin:0px auto;
    margin-top:10px;
    margin-left:200px;
    margin-bottom:50px;
    padding:7px 10px;
    border:none;
    text-align:center;
    width:auto;
    cursor:pointer;
 
}

#submit-button1 input {
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#27292B none repeat scroll 0 0;
    color:#FFFFFF;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    margin:0px auto;
    margin-top:20px;
    margin-left:150px;
    margin-bottom:50px;
    padding:7px 10px;
    border:none;
    text-align:center;
    width:auto;
    cursor:pointer;
 
}

.user_button1 {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background: #27292B none repeat scroll 0 0;
    color: #FFFFFF !important;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    margin: 0px;
    margin-top: 20px;
    padding: 7px 10px;
    border: none;
    text-align: center;
    width: 50px;
    cursor: pointer;
    float: right;
    margin-right: 200px;
    text-decoration: none;
    display: block;
}


#grade-list .listheading {
    background:none repeat scroll 0 0 #BECFFB;
    border-bottom:2px solid #BECFFB;
    color:#444444;
    height:1.5em;
    list-style-type:none;
    padding:0.5em 0 0 1em;
    width:34em;
}


#grade-list {
    clear : both;
    padding: 60px 0 40px 0px;
    width:650px;
    margin:0px auto;
}

#grade-list1 {
    clear : both;
    float: left;
    padding: 60px 0 40px 0px;
    width:975px;
    margin:0px auto;
}

#grade-list .listeven{
    background : #EEF2FD;
    border-bottom:1px solid #BECFFB;
    color : #444;
    min-height : 1.5em; width : 30em;
    list-style-type : none;
    padding : 0.5em 0 0 5em;
    overflow: hidden;
}

#grade-list .listodd{
    background : #DFEAFF;
    border-bottom:1px solid #BECFFB;
    color : #444;
    min-height : 1.5em; width : 30em;
    list-style-type : none;
    padding : 0.5em 0 0 5em;
    overflow: hidden;
}


#grade-list li div.grade-name {
    width : 300px;
    font-size:13px;
    font-weight:bold;
}


#grade-list li div.grade-edit,
#grade-list li div.grade-delete {
    font-size : 0.9em;
    width : 0px;
   
}

#grade-list li div.grade-edit,
#grade-list li div.grade-delete {
    font-size : 0.9em;
    width : 50px;
}

#grade-list li div {
    float : left;
   
}


#grade-list li div a {
    color : #000;
    text-decoration:none;
    font-size:14px; 
}


.status{
    
    float:left;
   width: 200px;
   margin:0 0 10px;
    padding-top:3px;
    width:206px;
   }


   .label-checkbox-pair {
    float : left;
    padding : 30px 0 0 10px;
    width : 600px;
}


#form-content{
    height:150px;
    width:500px;
    margin:0px auto;
}
.errorExplanation {
    background: #ffdedf url(/images/_global/error.png) no-repeat 10px 14px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    height : auto; width : 510px;
    margin : 20px auto;
    padding : 1px 0 20px 20px;
}

.header-icon {
    margin-top: 35px;
    height: 20px;
    width: 20px;
    float: left;
    background: url(/images/iconsprite-1.png) no-repeat center;
}


.text-area-bg {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:transparent none repeat scroll 0 0;
    float:left;
    width:250px;
}
.label-field-pair textarea {
    background:#EEEEEE none repeat scroll 0 0;
    border:1px solid #C6C6C6;
    margin:5px 0 0px 10px;
    padding:5px;
    width:205px;
    height: 50px;
}


