<%= stylesheet_link_tag "subject_types/subject_aau.css" %>

<% unless flash[:notice1].nil? %>
<p class="flash-msg"> <%= flash[:notice1] %> </p>
<% end %>
<% unless @aau_study_types.empty? %>
<div class="extender"></div>
<div id="page-yield">
  <table id="report_table" align="center" width="100%" cellpadding="1" cellspacing="1">
   <tr class="tr-head sub-heading">
    <td><%= "#{t('study_type')}" %></td>
    <td><%= "#{t('code1')}" %></td>
    <td><%= "#{t('description')}" %></td>
    <td><%= "#{t('action')}" %></td>
  </tr>
  <tr class="tr-blank"></tr>
  <%  @aau_study_types.each do |c| %>
  <tr class="tr-<%= cycle('odd', 'even') %>" id="subject-<%=c.id%>">
    <td class="col-2"><div class="category-name"><%= truncate(c.name, :length => 30)  %></div></td>
    <td class="col-2 "><div class="category-name"><%= truncate(c.code, :length => 30) %></div></td>
    <td class="col-2 "><div class="category-name"><%= truncate(c.description, :length => 15) %></div></td>
    <td class="col-2"><%= link_to "#{t('edit_text')}", {:action => "edit_study_type", :id=>c.id} %> | 
     <%= link_to "#{t('delete_text')}", {:action => "delete_study_type", :id=>c.id}, :confirm => "#{t('delete_confirm_msg')}", :html => {:class => 'themed_text'}  %>
   </td>                         
 </tr>
 <% end %>
</table>
<% else %>
<p class="flash-msg"><%= t('no_study_record_found') %></p>
<% end %>

</div>