<%= stylesheet_link_tag "study_plan_category/new.css" %>
<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>







<ul class="grade-list">

 <% unless flash[:warn_notice].nil? %>
       <div class="errorExplanation1"> 
        <ul>
          <li>
            <%= flash[:warn_notice] %>
          </li>
        </ul>
       </div> 
    <% end %>
  <% unless flash[:notice1].nil? %>
    <p class="flash-msg"> <%= flash[:notice1] %> </p>
  <% end %>
  <% unless @study_plan_categories.empty? %>
    <li class="listheading">
 <div class="grade-name">
 <%= "#{t('table_study_plan_category')}"%> </div></li>
    <%-  @study_plan_categories.each do |c| -%>

      <li class="list<%=cycle('odd', 'even')%>">

        <div class="grade-name"><%=truncate(c.name,:length => 30) %></div>

          <div class="grade-edit"><%= link_to "#{t('show')}", {:action => "show", :id=>c.id} %></div>

        <div class="grade-edit"><%= link_to "#{t('edit_text')}", {:action => "edit_study_plan_category", :id=>c.id} %></div>

        <div class="grade-edit">
        <% if c.aau_subjects.empty? %>
        <%= link_to "#{t('delete_text')}", {:action => "delete_study_plan_category", :id=>c.id}, :confirm => "#{t('delete_confirm_msg')}" %>
        <% else %>
        <s><%= t('delete_text') %></s>
        <% end %></div>
           </li>
        <% end %>
      
  <% else %>
    <p class="flash-msg"><%= t('no_study_plan_categories') %></p>
  <% end %>
</ul>
