<%= stylesheet_link_tag "study_plan_category/new.css" %>
<div id="content-header">
  <div class="header-icon subjects-icon"></div>
  <h1><%= t('study_plan_category_settings') %></h1>

</div>
<div id="page-yield" style="width: 1019px;">
   <div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
  </div>
  <div class="box">
    
    <% unless flash[:warn_notice].nil? %>
            <div id="errorExplanation" class="errorExplanation"><%= flash[:warn_notice] %> </div>
    <% end %>

    <h3><%= t('add_new_electives_to') %>
     <%=": #{@study_plan_cat.name}" %></h3>
  
    <%- form_for :study_plan_category do |c| -%>

      <% unless flash[:notice].nil? %>
      <p class="flash-msg"> <%= flash[:notice] %> </p> 
      <% end %>
  <%= error_messages_for 'study_plan_category' %>
      <div id="form-content">
        <div class="label-field-pair">
          <label for="grade_name"><%= t('name') %><span class="necessary-field">*</span></label>
          <div class="text-input-bg"> <%= c.text_field :name %> </div>
        </div>

        <div class="label-field-pair">
          <label for="grade_name"><%= t('code') %><span class="necessary-field">*</span></label>
          <div class="text-input-bg"> <%= c.text_field :code %> </div>
        </div>

     <div class="label-field-pair-text-area">
          <label for="grade_name"><%= t('description') %></label>
          <div class="events_description" cols="5" rows="5" min-width:5px; min-height:5px;> <%= c.text_area  :description %> </div>
        </div>

      <!--   <div class="label-field-pair">
          <label for="grade_name"><%#= t('credit_hours') %><span class="necessary-field">*</span></label>
          <div class="text-input-bg"> <%#= c.text_field :credit_hours%> </div>
        </div> -->

          <div id="submit-button">
          <%=submit_tag "► #{t('create_text')}", :disable_with => "► #{t('please_wait')}" %>
           <%= link_to " #{t('back')}",
    {:controller => "study_plan_categories", :action => "add_study_plan_category"}%>
        </div>
      </div>

    <%- end -%>
   
    <div id="grade-list">
    
    </div>
  </div>
</div>