<%= stylesheet_link_tag "study_plan_category/new.css" %>
<%#= stylesheet_link_tag "subject_types/new.css" %>
<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
  <div class="header-icon subjects-icon"></div>
  <h1><%= t('study_plan_category_settings') %></h1>

</div>
<div id="page-yield" style="width: 1019px;">
   <div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
  </div>
  <div class="box">
    
    <% unless flash[:warn_notice].nil? %>
       <div class="errorExplanation1"> 
        <ul>
          <li>
            <%= flash[:warn_notice] %>
          </li>
        </ul>
       </div> 
    <% end %>
    <%- form_for :study_plan_category do |c| -%>

      <% unless flash[:notice].nil? %>
      <p class="flash-msg"> <%= flash[:notice] %> </p> 
      <% end %>
  <%= error_messages_for 'study_plan_category' %>
      <div id="form-content">
        <div class="label-field-pair">
          <label for="grade_name"><%= t('name') %><span class="necessary-field">*</span></label>
          <div class="text-input-bg"> <%= c.text_field :name %> </div>
        </div>


        <div class="label-field-pair">
          <label for="grade_name"><%= t('code') %><span class="necessary-field">*</span></label>
          <div class="text-input-bg"> <%= c.text_field :code %> </div>
        </div>

         <div class="label-field-pair-text-area">
          <label for="grade_name"><%= t('description') %></label>
          <div class="events_description" cols="5" rows="5" min-width:5px; min-height:5px;> <%= c.text_area  :description %> </div>
        </div>

        <div class="label-field-pair">
          <label for="grade_name"><%= t('credit_hours') %><span class="necessary-field">*</span></label>
          <div class="text-input-bg"> <%= c.text_field :credit_hours%> </div>
        </div>

          <div id="submit-button">
          <%=submit_tag "► #{t('create_text')}", :disable_with => "► #{t('please_wait')}" %>
        </div>
      </div>

    <%- end -%>


    <div id="grade-list">
    <%=  render :partial => "study_plan_categories/study_plan_category" %>
    </div>
  </div>
</div>
