<%= stylesheet_link_tag "study_plan_category/showplan.css" %>
<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
  <div class="header-icon subjects-icon"></div>
  <h1><%= t('study_plan_category_settings') %></h1>
</div>
<div id="page-yield" style="width: 1019px;">
  <div class="bread_crumb">
    <% breadcrumb :study_plan_categories_show, @study_plan_category %>
    <%= render_breadcrumbs  %>
  </div>
  <div class="box">  
    <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
    <% end %>
    <h4> <%= t('active_study_plan_category') %>:</h4>
    <table width="100%" id="listing">
      <tr class="tr-head">
        <td><%= t('name') %></td>
        <td><%= t('code') %></td>
        <td><%= t('description') %></td>
        <td><%= t('credit_hours') %></td>
      </tr>
      <tr class="tr-<%= cycle('odd', 'even') %>">
        <td class="col-1"> <div class="label-field-pair2">
          <div class="text-input-bg1"> <%= truncate(@study_plan_category.name,:length => 30) %> </div>
        </div>
      </td>
      <td class="col-1">
        <div class="label-field-pair2">
          <div class="text-input-bg1"> <%= truncate(@study_plan_category.code,:length => 15) %> </div>
        </div>
      </td>
      <td class="col-1">
        <div class="label-field-pair2">
          <div class="text-input-bg1"><%= truncate(@study_plan_category.description,:length => 30)%> </div>
        </div>
      </td>
      <td class="col-1">
        <div class="label-field-pair2">
          <div class="text-input-bg1"id="study_plan_credit"><%= @study_plan_category.credit_hours %> </div>
        </div>
      </td>
    </tr>
  </table>
<center>
  <div class="buttons">
    <%= link_to " #{t('back')}",
    {:controller => "study_plan_categories", :action => "add_study_plan_category"},:class => 'user_button'%>

    <%= link_to "  #{t('edit_text')}",
    { :controller => "study_plan_categories", :action => "edit_study_plan_category",:id => @study_plan_category.id }, :class=> 'user_button' %>

    <%= link_to "  #{t('add_elective')}",
    { :controller => "study_plan_categories", :action => "add_electives",:id => @study_plan_category.id }, :class=> 'user_button' %>
  </div>
</center>

  <% count=@sub_category.count.to_i  %>
  <% form_for(:assign_study_plan, :url => {:action=> 'show'}, :html =>{:onSubmit => "check_total_credit_hours(#{@study_plan_category.credit_hours},#{count})"}) do |f| %>
  <% i=0 %>
  <div style="margin-top: 40px;">
   <table id="listing" align="center" width="100%" cellpadding="1" cellspacing="1">
    <tr class="tr-head">
      <td><%= t('type') %></td>
      <td><%= t('code') %></td>
      <td><%= t('credit_hours') %></td>
      <td><%= t('status') %></td>
    </tr>
    <%  @sub_category.each do |sub_category| %>
    <tr class="tr-<%= cycle('odd', 'even') %>">
      <td class="col-1"><%=  sub_category.name %>
      </td>
      <td class="col-1"><%=  sub_category.code %></td>
      <td class="col-1"><%= text_field_tag "assign_study_plan[#{sub_category.id}][credit_hours]",value = sub_category.credit_hours ,:id=>"weightage#{i}",:onchange=>"check_weightage(this,#{@study_plan_category.credit_hours},#{count})"%>
      </td>
      <td class="col-1"><% unless sub_category.name == "Mandatory"%>
        <%= link_to "#{t('edit')}", {:controller => "study_plan_categories",:action => "edit_electives", :id => sub_category.id }  %>
        <% end %></td>
      </tr>
      <% i=i+1 %>
      <% end %>
    </table>
  </div>
  <%= f.submit "Assign",:class=>"sort_button" %>
  <% end %>
</div>
</div>
<script type="text/javascript">
  function make_total(val)
  {
    value=parseInt(val);
    total=0;
    for(i=0;i<value;i++)
    {
      weightage=$("weightage"+i).value;
      weight=parseFloat(weightage);
      total=total+weight;
    }
    return total;
  }
  function check_weightage(val,chour,count)
  {
    var tot = make_total(count);
    var chour = parseInt(chour)
    if (parseFloat(tot)>chour)
    {
      alert("Cannot be greater than Current Credit Hours");
      val.value="0";
    }
    }

  function check_total_credit_hours(chour,count)
  {
    var tot = make_total(count);
    var chour = parseInt(chour)
    if (parseFloat(tot) != chour)
    {
     alert("All Subcategory Total credit hours must be equal to Category Hours");
       return false;
     }
    else
    {
      return true;
    }
    }
  </script>



