#synonymous_group_description{
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#EEEEEE none repeat scroll 0 0;
    border:1px solid #C6C6C6;
    font-family:Arial;
    height: 65px;
    padding: 5px;
    width: 240px;
    /* padding-top: 0px; */
}

.label_field_pair {
    height:40px;
    padding-top:3px;
    width:600px;
}
.label_field_pair label {
    color:#444444;
    display:block;
    font-size:14px;
    font-weight:600;
    margin-bottom:10px;
    padding-top:10px;

}
.label_field_pair input {
    width:210px;height:28px;
    background:transparent;
    border:none;
    padding-left:10px;
    padding-top:5px;
}


.submit_button {
    margin-top:30px;
    margin-left:270px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
}

.submit_button:hover{
    background: #373b3f;
}
.submit_button3 {margin-top:30px;margin-left:50px;float:left;}
.text_display {width:230px;height:28px;background:#fff url(../../images/admission/text_input.jpg) no-repeat;margin-bottom:20px;color:#b00;font-weight:bold;padding-left:10px;padding-top:3px;}

.necessary-field {
    color : #f00;
    font-size : 1.1em;
}
#necessary-field-notification {
    font-weight : bold;
    padding : 10px 0 30px 0;
}

.label-field-pair-text-area{
    height:110px;
    padding-top:3px;
    width:600px;
}

.label-field-pair-text-area label{
    color:#444444;
    display:block;
    float:left;
    font-size:14px;
    font-weight:600;
    margin:0 0 10px;
    padding-top:10px;
    width:200px;
}

.textarea-input-bg {
    background:none repeat scroll 0 0 transparent;
    float:left;
}

.label-field-pair-text-area textarea {
    -moz-border-radius:10px 10px 10px 10px;
    -webkit-border-radius:10px;
    background:none repeat scroll 0 0 #EEEEEE;
    border:1px solid #C6C6C6;
    margin:5px 0 0 10px;
    padding:5px;
}

input#employee_photo{
    height: 28px;
}
.label-field-pair p
{
    float: left;
    margin: 5px 0 0 0px;
    font-size: 12px;
    color: #666;
}

table#report_table{
    background: #dcdcdc;
}
table#report_table tr.tr-head{
    color:#fff!important;
    font-weight:bold;
    text-align:left;
    font-size: 14px;
}
table#report_table .tr-head td{
    padding:5px;
    padding-left:10px;

}
table#report_table .tr-odd{
    background: #efefef;
    text-align:left;
    padding:50px;
    font-weight:700;
    font-size:13px;
    color: #333333;
}
table#report_table .tr-even{
    background: #f8f8f8;
    text-align:left;
    padding:50px;
    color:#27292b;
    font-weight:700;
    font-size:13px;
}
table#report_table .tr-read-odd{
    background: #fff;
    text-align:left;
    padding:50px;
    color:#27292b;
    font-weight:normal;
    font-size:14px;
}
table#report_table .tr-read-even{
    background: #f1f6ff;
    text-align:left;
    padding:50px;
    color:#27292b;
    font-weight:normal;
    font-size:14px;
}
table#report_table td.col-1{
    width:10%;
    padding: 5px;
    padding-left:10px;
}
table#report_table td.col-2{
    width:20%;
    text-align:left;
    padding: 5px;
    padding-left:10px;
    word-break: break-word;
}
table#report_table td a{
    text-decoration:none;
    color:#27292b;
}
table#report_table td a:hover{
    color:#990a10;
    text-decoration:underline;
}
table#report_table td.col-3{
    width:10%;
    padding: 5px;
    padding-left:10px;
    word-break: break-word;
}
table#report_table td.col-4{
    width:13%;
    text-align:left;
    padding: 5px;
    padding-left:10px;
    word-break: break-word;
}
table#report_table td.col-5{
    width:7%;
    text-align:left;
    padding: 5px;
    padding-left:10px;
    word-break: break-word;
}
table#report_table td.col-6{
    width:8%;
    text-align:left;
    padding: 5px;
    padding-left:10px;
    word-break: break-word;
}

table#report_table td.col-7{
    width:20%;
    text-align:left;
    padding: 5px;
    padding-left:10px;
    word-break: break-word;
}
.pagination_list{
    width:100%;
    height:25px;
    border:1px solid #CCCCCC;
    margin-top:30px;
    background:#efefef
}
.pagination {
    float: right;
    position: relative;
    margin-top: 2px;
    margin-right: 15px;
}
.pagination a.prev_page,.pagination a.next_page{
    color:#27292b;
    font-weight:bold;
    text-transform: none;
    background: none;
    text-decoration:none;
    border:none;
    font-size: 13px;
}
.pagination .disabled {
    color: #27292b;
    font-size: 13px;
    font-weight: normal;
    text-transform: none;
    background: none;
    text-decoration: none;
    border: none;
}
.pagination_text{
    float:left;
    margin-left: 600px;
    font-size: 13px;
    color:#333333;
    margin-top: 5px;
}
#page-yield {
/*    margin-right: 10px;*/
    margin-top: 2px;
}
.submit-button {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    background: #27292B;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 0 210px;
    padding: 7px;
    float: left;
    cursor: pointer;
    float: right;
    margin-bottom: 22px;
/*    margin-right: 12px;*/
    padding-left: 13px;
    padding-right: 10px;
}
.submit-button a {
    text-decoration: none;
    color:#fff;
    font-size: 14px;
}
.submit-button a:hover{
    color:#fff !important
}
table#report_table tr.tr-head a{
    color:#fff !important;
}
table#report_table tr.tr-head a:hover{
    color:#fff !important;
    text-decoration: none;

}
.batch_order:hover{
    background: rgba(0, 0, 0, .2)
}
.batch_order_select{
    background: rgba(0, 0, 0, .2)
}
#information{
    margin-top:30px;
}
.bread_crumb{
    margin-top: 15px;
}
#page-yield #information .submit-button a:hover{
    color:#fff !important
}

#submit-button1 input {
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#27292B none repeat scroll 0 0;
    color:#FFFFFF;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    margin:0px auto;
    margin-top:30px;
    margin-left:350px;
    margin-bottom:50px;
    padding:7px 10px;
    border:none;
    text-align:center;
    width:auto;
    cursor:pointer;
 
}

.user_button1 {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background: #27292B none repeat scroll 0 0;
    color: #FFFFFF !important;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    margin: 0px;
    margin-top: 30px;
    padding: 7px 10px;
    border: none;
    text-align: center;
    width: 50px;
    cursor: pointer;
    float: right;
    margin-right: 400px;
    text-decoration: none;
    display: block;
}
