#submit-button input {
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#27292B none repeat scroll 0 0;
    color:#FFFFFF;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    margin:0px auto;
    margin-top:10px;
    margin-left:205px;
    margin-bottom:50px;
    padding:7px 10px;
    border:none;
    text-align:center;
    width:auto;
    cursor:pointer;
 
}

.label-field-pair label {
    color: #444;
    display: block;
    font-size: 14px;
    margin: 0 0 0px 0;
    float: left;
    width: 120px;
    padding-top: 10px;
    font-weight: 600;

}

.label-field-pair-text-area label
{
 color: #444;
    display: block;
    font-size: 14px;
    margin: 0 0 0px 0;
    float: left;
    width: 130px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 600;

}

.text-input-bg {
    background: transparent;
    height: 28px;
    width: 250px;
    float: left;
}

#study_plan_category_description{
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#EEEEEE none repeat scroll 0 0;
    border:1px solid #C6C6C6;
    font-family:Arial;
    height: 65px;
    padding: 5px;
    width: 240px;
    /* padding-top: 0px; */
}

#grade-list .listheading {
    background:none repeat scroll 0 0 #BECFFB;
    border-bottom:2px solid #BECFFB;
    color:#444444;
    height:1.5em;
    list-style-type:none;
    padding:0.5em 0 0 1em;
    width:34em;
}


#grade-list {
    clear : both;
    padding: 60px 0 40px 0px;
    width:650px;
    margin:0px auto;
}

#grade-list .listeven{
    background : #EEF2FD;
    border-bottom:1px solid #BECFFB;
    color : #444;
    min-height : 1.5em; width : 30em;
    list-style-type : none;
    padding : 0.5em 0 0 5em;
    overflow: hidden;
}

#grade-list .listodd{
    background : #DFEAFF;
    border-bottom:1px solid #BECFFB;
    color : #444;
    min-height : 1.5em; width : 30em;
    list-style-type : none;
    padding : 0.5em 0 0 5em;
    overflow: hidden;
}


#grade-list li div.grade-name {
    width : 300px;
    font-size:13px;
    font-weight:bold;
}


#grade-list li div.grade-edit,
#grade-list li div.grade-delete {
    font-size : 0.9em;
    width : 0px;
   
}

#grade-list li div.grade-edit,
#grade-list li div.grade-delete {
    font-size : 0.9em;
    width : 50px;
}

#grade-list li div {
    float : left;
   
}


#grade-list li div a {
    color : #000;
    text-decoration:none;
    font-size:14px; 
}


.status{
    
    float:left;
   width: 200px;
   margin:0 0 10px;
    padding-top:3px;
    width:206px;
   }


   .label-checkbox-pair {
    float : left;
    padding : 30px 0 0 10px;
    width : 600px;
}


#form-content{
    height:200px;
    width:500px;
    margin:0px auto;
}
.errorExplanation {
    background: #ffdedf url(/images/_global/error.png) no-repeat 5px 5px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    height : auto; width : 510px;
    margin : 20px auto;
    padding : 10px 10px 10px 40px;
}

.header-icon {
    margin-top: 35px;
    height: 20px;
    width: 20px;
    float: left;
    background: url(/images/iconsprite-1.png) no-repeat center;
}

#events_submit{
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#27292B;
    border:medium none;
    color:#FFFFFF;
    cursor:pointer;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    margin:30px 0 0 210px;
    padding:7px 10px;
    width:auto;
}

#content-header h1 {
    margin: 0px;
    padding: 35px 0 0 10px;
    color: #666666;
    display: block;
    font-size: 17px;
    float: left;
}


/*#content-header h1 {
    margin: 0px;
    padding: 35px 0 0 10px;
    color: #666666;
    display: block;
    font-size: 17px;
    float: left;>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
}*/

.pagination_list1{
    width:100%;
    height:25px;
    border:1px solid #CCCCCC;
    margin-top:60px;
    background:#efefef
}
.pagination_text1{
    float:left;
    margin-left: 50px;
    font-size: 13px;
    color:#333333;
    margin-top: 5px;

}