#submit-button input {
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#27292B none repeat scroll 0 0;
    color:#FFFFFF;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    margin:0px auto;
    margin-top:0px;
    margin-left:180px;
    margin-bottom:50px;
    padding:6px 10px;
    border:none;
    text-align:center;
    width:80px;
    cursor:pointer;
 
}
.buttons{
    margin-right: 50px;
    padding-bottom: 50px;
}

.user_button {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #27292B none repeat scroll 0 0;
    color: #FFFFFF !important;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    margin: 0px;
    margin-top: 25px;
    padding: 5px 10px;
    border: none;
    text-align: center;
    width: 50px;
    cursor: pointer;
    float: left;
    margin-right: 50px;
    text-decoration: none;
    display: block;
      margin-top: 25px;
}

.user_button1 {
    -moz-border-radius: 5px;
    -webkit-border-radius: 4px;
    background: #27292B none repeat scroll 0 0;
    color: #FFFFFF !important;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    margin: 0px;
    margin-top: -21px;
    padding: 5px 20px;
    border: none;
    text-align: center;
    width: auto;
    cursor: pointer;
    float: left;
    margin-right: 46px;
    margin-left: 314px;
    text-decoration: none;
    display: block;
      margin-top: 25px;
}


.user_button:hover {
    background: #373b3f;
    text-decoration: none !important;
}

.themed_text {
    color: #9c0000 !important;
}

.themed_hover_text:hover {
    color: #9c0000;
}

.themed_bg {
    background-color: #9c0000;
}


#page-yield a:hover{
    color: #FFFFFF !important;
}

    a:-webkit-any-link {
  cursor: auto;
}

table#listing td.col-1 {
    width: 10%;
    padding: 5px;
    padding-left: 10px;
}


.label-field-pair label {
    color: #444;
    display: block;
    font-size: 14px;
    margin: 0 0 0px 0;
    float: left;
    width: 100px;
    padding-top: 10px;
    font-weight: 600;

}

.label-field-pair-text-area label
{
 color: #444;
    display: block;
    font-size: 14px;
    margin: 0 0 0px 0;
    float: left;
    width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 600;

}

.text-input-bg {
    background: transparent;
    height: 28px;
    width: 172px;
    float: left;
    padding-top: 10px;
}

.text-input-bg1 {
    background: transparent;
    height: 53px;
    width: 250px;
    float: left;
}

#study_plan_category_description{
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#EEEEEE none repeat scroll 0 0;
    border:1px solid #C6C6C6;
    font-family:Arial;
    height:190px;
    padding:5px;
    width:520px;
}


#grade-list .listheading {
    background:none repeat scroll 0 0 #BECFFB;
    border-bottom:2px solid #BECFFB;
    color:#444444;
    height:1.5em;
    list-style-type:none;
    padding:0.5em 0 0 1em;
    width:34em;
}


#grade-list {
    clear : both;
    padding: 60px 0 40px 0px;
    width:650px;
    margin:0px auto;
}

#grade-list .listeven{
    background : #EEF2FD;
    border-bottom:1px solid #BECFFB;
    color : #444;
    min-height : 1.5em; width : 30em;
    list-style-type : none;
    padding : 0.5em 0 0 5em;
    overflow: hidden;
}

#grade-list .listodd{
    background : #DFEAFF;
    border-bottom:1px solid #BECFFB;
    color : #444;
    min-height : 1.5em; width : 30em;
    list-style-type : none;
    padding : 0.5em 0 0 5em;
    overflow: hidden;
}


#grade-list li div.grade-name {
    width : 300px;
    font-size:13px;
    font-weight:bold;
}


#grade-list li div.grade-edit,
#grade-list li div.grade-delete {
    font-size : 0.9em;
    width : 0px;
   
}

#grade-list li div.grade-edit,
#grade-list li div.grade-delete {
    font-size : 0.9em;
    width : 50px;
}

#grade-list li div {
    float : left;
   
}


#grade-list li div a {
    color : #000;
    text-decoration:none;
    font-size:14px; 
}


.status{
    
    float:left;
   width: 200px;
   margin:0 0 10px;
    padding-top:3px;
    width:206px;
   }


   .label-checkbox-pair {
    float : left;
    padding : 30px 0 0 10px;
    width : 600px;
}


#form-content{
    height:200px;
    width:500px;
    margin:0px auto;
}
.errorExplanation {
    background: #ffdedf url(/images/_global/error.png) no-repeat 10px 14px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    height : auto; width : 510px;
    margin : 20px auto;
    padding : 1px 0 20px 20px;
}

.header-icon {
    margin-top: 35px;
    height: 20px;
    width: 20px;
    float: left;
    background: url(/images/iconsprite-1.png) no-repeat center;
}

#events_submit{
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#27292B;
    border:medium none;
    color:#FFFFFF;
    cursor:pointer;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    margin:30px 0 0 210px;
    padding:7px 10px;
    width:auto;
}

#content-header h1 {
    margin: 0px;
    padding: 35px 0 0 10px;
    color: #666666;
    display: block;
    font-size: 17px;
    float: left;
}

/*#content-header h1 {
    margin: 0px;
    padding: 35px 0 0 10px;
    color: #666666;
    display: block;
    font-size: 17px;
    float: left;>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
}*/


.link-box {
    margin:10px 40px;
    width:270px;
    float:left;
    height:80px;
}
.link-heading a {
    font-weight:bold;
    color:#900;
}
.link-descr {
    margin-top:5px;
    color:#666;
    text-align:justify;
    font-size:14px;
}
#box{
    width:700px;
    margin:0px auto;
}
.box{
    width:900px;
    margin:0px auto;
}

#subjects{
    width:750px;
    margin:0px auto;
}

.submit_button {
    margin-top:20px;
    margin-left:300px;
    padding: 4px 17px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
    border:none;
    font-family: arial;
    cursor:pointer;
}
.submit_button:hover{
    background:  #373B3F;
}

p.flash-msg {
    background-color: #fff1ab;
    padding: 5px;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    border: 1px solid #EFDC86;
}


#category-list {
    clear : both;
    width:500px;
    margin:0px auto;
      background: #c3d9ff;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    padding:20px 20px 40px;

    padding: 18px;
    padding-left:18px;
     padding-right:18px;
     

}

#category-list .listeven{
    background : #D8E7F9;
    border-bottom:1px solid #BECFFB;
    color : #444;
    height : auto;
    min-height: 25px;
    list-style-type : none;
    padding : 10px;
   
}

#category-list .listodd{
    background : #FFFFFF;
    border-bottom:1px solid #BECFFB;
    color : #444;
    height: auto;
    min-height: 25px;
    list-style-type : none;
    padding : 10px;
    

    
}

#heading {
    background : none;
    font-weight : bold;
    list-style-type : none;
    color : #CB5454;;
    height : 1.5em;
    padding : 0.5em 0 0 5em;
    margin-left: 360px;
    
}
#category-list li div {
    float : left;
    margin-right: 3px;
}
#category-list li div.category-name {
    font-size: 13px;
    font-weight: bold;
    width: 35%;
}

#category-list li div.category-code {
    width : 125px;
    font-weight: bold;
    font-size:13px;
}

#category-list li div.category-edit,
#category-list li div.category-delete {
    font-size : 0.9em;
    width : 65px;

}
#category-list li div.category-assign{
    font-size : 0.9em;
    width : 120px;
}
#category-list li div a {
    color : #000;
    font-size:14px;
    text-decoration: none;
}
#category-list li div a:hover {
    color : #d00;
    text-decoration: underline;
}

#category-list li .opt{
    float: right;
}

.add_sub a {
    color:black;
    font-weight: bold;
    font-size: 14px;
    margin-left: 20px;
}

.add_sub a:hover{
    color:#bb0000;
    text-decoration: none;
}

.add_sub{
    margin-bottom: 5px;
}

h5{
    color: #444444;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    margin-bottom: 0px;
}

#error-box {
    background: #ffdedf url(/images/_global/error.png) no-repeat 10px 14px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    height : auto;
    margin : 20px auto;
    padding : 1px 0 1px 20px;
}



.label-field-pair-select-class {
    height:40px;
    padding-top:3px;
    width:500px;
    margin:0px auto;
}
.label-field-pair-select-class label {
    color:#444444;
    display:block;
    float:left;
    font-size:14px;
    font-weight:600;
    margin:0 0 10px;
    padding-top:10px;
    width:200px;
}
#loader{
    padding-top:10px;
}

#page-yield
{
    width:650px;
}

tr.tr-head{
    background: #fff;
    color:#990a10;
    font-weight:bold;
    text-align:left;
}
.tr-head td{
    padding-left:10px;

}

.ScrollStyle
{
    max-height: 230px;
    overflow-y: scroll;
        overflow-x: none;
}

#category-list li.heading {
    background : none;
    font-weight : bold;
    list-style-type : none;
    color : #444;
    height : 1.5em;
    width : 30em;
    padding : 0.5em 0 0 5em;
}

input[type="text"],
input[type="password"],
textarea,
select
{
      background: #eee;
    outline: none;
      width: 180px;
      -webkit-border-radius: 10px;
        padding: 5px;
        border: 1px solid #c6c6c6;
}
.sel-list{
    width:300px;
    margin-bottom: 3px;
    margin-top: -14px;
}


/*.sel-list{
    width:300px;
    margin-bottom: 3px;
    margin-top: -14px;
}>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
*/


table#listing td.col-1 {
    width: 10%;
    padding: 6px;
    padding-left: 11px;
}

table#listing td.col-2 {
    width: 40%;
    text-align: left;
    padding: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
}

table#listing td.col-1 {
    width: 10%;
    padding: 5px;
    padding-left: 10px;
}

table#listing td.col-2 {
    width: 15%;
    text-align: left;
    padding: 5px;
    padding-left: 10px;
}

table#listing {
    background: #c3d9ff;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 20px 20px 40px;
}

table#listing tr.tr-head {
    background: #fff;
    color: #990a10;
    font-weight: bold;
    text-align: left;
}

table#listing .tr-head td {
    padding: 5px;
    padding-left: 10px;

}

table#listing .tr-head td a {
    color: #990a10;
}

table#listing .tr-head td a:hover {
    color: #990a10;
    text-decoration: underline;
}

table#listing tbody .tr-head th a {
    color: #990a10;
    text-decoration: none
}

table#listing tbody .tr-head th a:hover {
    color: #990a10;
    text-decoration: none;
}

table#listing .tr-odd {
    background: #fff;
    text-align: left;
    padding: 50px;
    color: #27292b;
    font-weight: 600;
    font-size: 14px;
}

table#listing .tr-even {
    background: #f1f6ff;
    text-align: left;
    padding: 50px;
    color: #27292b;
    font-weight: 600;
    font-size: 14px;
}

table#listing .tr-read-odd {
    background: #fff;
    text-align: left;
    padding: 50px;
    color: #27292b;
    font-weight: normal;
    font-size: 14px;
}

table#listing .tr-read-even {
    background: #f1f6ff;
    text-align: left;
    padding: 50px;
    color: #27292b;
    font-weight: normal;
    font-size: 14px;
}

table#listing td.col-1 {
    width: 10%;
    padding: 5px;
    padding-left: 10px;
}

table#listing td.col-3 {
    width: 10%;
    padding: 5px;
    padding-left: 10px;
}

table#listing td.col-4 {
    width: 10%;
    padding: 5px;
    padding-left: 10px;
}


table#listing td.col-2 {
    width: 0%;
    text-align: left;
    padding: 5px;
    padding-left: 10px;
}

table#listing td a {
    text-decoration: none;
    color: #27292b;
}

table#listing td a:hover {
    color: #990a10;
    text-decoration: underline;
}

table#listing td.col-3 {
    width: 13%;
    padding: 5px;
    padding-left: 10px;
}

table#listing td.col-4 {
    width: 30%;
    padding: 5px;
    padding-left: 10px;
}

table#listing td.col-5 {
    width: 5%;
    padding: 5px;
    padding-left: 10px;
}

table#listing td.col-6 {
    text-align: right;
    width: 13%;
    padding: 5px;
    padding-left: 10px;
}

table#listing td.col-7 {
    width: 20%;
    padding: 5px;
    padding-left: 10px;
}

tr.tr-blank {
    height: 10px;
}

.label-field-pair2 {
    height: 40px;
    width: 100px;
    padding-top: 3px;
}

.errorExplanation {
    background: #ffdedf url(/images/_global/error.png) no-repeat 10px 14px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    height: auto;
    width: 510px;
    margin: 20px auto;
    padding: 1px 0 20px 20px;
}

.errorExplanation h2 {
    margin: 5px 0 0 20px;
    font-size: 1em;
    font-weight: normal;
    padding: 0;
}

.errorExplanation p {
    font-size: 16px !important;
    margin: 5px 0 0 20px;
    font-weight: bold;
    padding: 10px 0px 0px 5px;
}

.errorExplanation ul li {
    font-weight: 600;
    font-size: 13px;
}


.search-input{
    height: 50px;
    float:left;
    width:136%;
}