<%= stylesheet_link_tag "synonymous_groups/synonymous_group.css" %>
<% if @subjects.empty? %>
<p class="flash-msg"><%= "#{t('no_subject_in_this_category')}"  %></p>
<% else %>
<div>
  <label><%= t('select') %><span class="necessary-field">*</span>:
    <b class="sel-list">
      <%= link_to_function t('all'), "$$('input.category_select').each(function(checkbox) { checkbox.checked = true; });" %>,
      <%= link_to_function t('none'), "$$('input.category_select').each(function(checkbox) { checkbox.checked = false; });" %>
    </b>
  </label>

  <table id="report_table" align="center" width="100%" cellpadding="1" cellspacing="1">
   <tr class="tr-head sub-heading">
     <td style="text-align: center;"><%= "#{t('status')}" %></td>
     <td><%= "#{t('subject_name1')}" %></td>
     <td><%= "#{t('subject_code')}" %></td>
   </tr>
   <tr class="tr-blank"></tr>
   <% @subjects.each do |c| %>
   <tr class="tr-<%= cycle('odd', 'even') %>" id="subject-<%=c.id%>"><div class="each_category">
    <td class="col-2"><%= check_box_tag "subject_ids[]" ,c.id,(c.synonymous_group_id == @synonymous_group.id unless c.synonymous_group_id.nil?) ? true : false,:class => "category_select" %> </td>   
    <td class="col-2"><div class="category-name"><%= "#{c.aau_subject_name}"%> </div> </td>
    <td class="col-2"><div class="category-name"><%=  "#{c.aau_subject_code}" %></div></td>
  </tr>
  <% end %>

  <% @synonymous_courses.each do |c| %>
  <tr class="tr-<%= cycle('odd', 'even') %>" id="subject-<%=c.id%>"><div class="each_category">
    <td class="col-2"><%= check_box_tag "unassigned_subject_ids[]" ,c.id,(c.synonymous_group_id == @synonymous_group.id unless c.synonymous_group_id.nil?) ? true : false,:class => "category_select" %> </td>   
    <td class="col-2"><div class="category-name"><%= "#{c.aau_subject_name}"%> </div> </td>
    <td class="col-2"><div class="category-name"><%=  "#{c.aau_subject_code}" %></div></td>
  </tr>
  <% end %>


</table>
</div>
<div id="submit-button1">
  <%=  submit_tag "► #{t('save')}",:disable_with => "► #{t('please_wait')}" %>
  <%= link_to "#{t('cancel')}", {:action => "new_synonymous_group"}, :class=> 'user_button1' %>
</div>
<% end %>

