  <div class="label-field-pair">
        <label for="student_course"><%= t('select_subcategory') %>
        <%#= params[:synonymous_group_id]%>
        <span class="necessary-field">*</span> : <%= image_tag("loader.gif",
          :align => "absmiddle",
          :border => 0,
          :id => "loader",
          :style =>"display: none;" ) %></label>
          <div  class="text-input-bg">
            <%= select :aau_subject, :sub_category_id, @sub_category.map { |e| [e.name, e.id] } ,
            {:prompt => "#{t('select_subcategory')}"},{:onChange => "#{remote_function(:url => {:action => "list_category",:study_plan_category_id => @study_plan_category.id,:synonymous_group_id => @synonymous_group.id}, 
              :with => "'sub_category_id='+value",
              :before => "$('loader').show();",
              :success => "$('loader').hide();")}"}%></div></div>

          