<%= stylesheet_link_tag "synonymous_groups/synonymous_group.css" %>

<% unless flash[:notice1].nil? %>
<p class="flash-msg"> <%= flash[:notice1] %> </p>
<% end %>
<% unless @synonymous_groups.empty? %>
<div class="extender"></div>
  <table id="report_table" align="center" width="100%" cellpadding="1" cellspacing="1">
   <tr class="tr-head sub-heading">
    <td><%= "#{t('synonymous_group')}" %></td>
    <td><%= "#{t('code')}" %></td>
    <td><%= "#{t('description')}" %></td>
    <td><%= "#{t('action')}" %></td>
  </tr>
  <tr class="tr-blank"></tr>
  <%  @synonymous_groups.each do |c| %>
  <tr class="tr-<%= cycle('odd', 'even') %>">
<td class="col-2"><div class="category-name"><%=  truncate(c.name, :length => 30) %></div></td>
    <td class="col-2 "><div class="category-name"><%= truncate(c.code, :length => 30) %></div></td>
    <td class="col-2 "><div class="category-name"><%= truncate(c.description, :length => 15) %></div></td>

    <td class="col-2">
    <%= link_to "#{t('view_details')}", {:action => "show_subjects", :id=>c.id} %> | 
    <%= link_to "#{t('edit_text')}", {:action => "edit_synonymous_group", :id=>c.id} %> | 
    <% if c.aau_subjects.empty? %>
     <%= link_to "#{t('delete_text')}", {:action => "delete_synonymous_group", :id=>c.id}, :confirm => "#{t('delete_confirm_msg')}", :html => {:class => 'themed_text'}  %> 
     <% else %>
    <s><%= t('delete_text') %></s>
    <% end %>

   </td>                         
 </tr>
 <% end %>
</table>
<% else %>
<p class="flash-msg"><%= t('no_record_found') %></p>
<% end %>
