<%= stylesheet_link_tag "synonymous_groups/synonymous_group.css" %>
<div id="content-header">
  <div class="header-icon subjects-icon"></div>
  <h1><%= t('synonymous_group_settings') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= @synonymous_group.name %></div>
</div>
<div id="page-yield">
  <div class="bread_crumb">
    <% breadcrumb :synonymous_groups_show_subjects, @synonymous_group %>
    <%= render_breadcrumbs  %> 
  </div> 
  <div class="box">
   <% unless flash[:warn_notice].nil? %>
   <div class="errorExplanation1"> 
    <ul>
      <li>
        <%= flash[:warn_notice] %>
      </li>
    </ul>
  </div> 
  <% end %>


  <% unless flash[:notice].nil? %>
  <p class="flash-msg"> <%= flash[:notice] %> </p> 
  <% end %>
</div>

<div class="extender"></div>
<div id="page-yield">
  <% unless @subjects.empty? %> 
  <table id="report_table" align="center" width="100%" cellpadding="1" cellspacing="1";>
   <tr class="tr-head sub-heading">
    <td><%= "#{t('mandatory_subjects')}" %></td>
    <td><%= "#{t('elective_subjects')}" %></td>
  </tr>
  <tr class="tr-<%= cycle('odd', 'even') %>" id="subject-<%= @synonymous_group.id%>">
    <td class="col-2 ">
    <% if @p.empty? %>
<div class="category-name"> 
     <font color="red"><%=  "#{t('there_are_no_subjects_under_this_subcategory')}" %></font></div>
    <% else %>
     <div class="category-name"> 
      <% @p.each do |i| %>
      <div><%= i %></div>
      <% end %>
    </div>
    <% end %>
  </td>
  <td class="col-2 "><div class="category-name"> 
  <% if @p1.empty? %>
  <div class="category-name"> 
     <font color="red"><%=  "#{t('there_are_no_subjects_under_this_subcategory')}" %></font></div>
    <% else %>
    <% @p1.each do |j| %>
    <div><%= j %></div>
    <% end %>  </div>
    <% end %>
  </td> 
</tr>
</table>
<% else %>
<p class="flash-msg"><%= "#{t('there_are_no_subjects')}" %></p>
<% end %>
<% form_for :aau_subject ,:url =>{:action => 'show_subjects'}  do |f|%>
<div class="label-field-pair">
  <label for="student_course"><%= t('select_category') %><span class="necessary-field">*</span> : <%= image_tag("loader.gif",
    :align => "absmiddle",
    :border => 0,
    :id => "loader",
    :style =>"display: none;" ) %></label>
    <div  class="text-input-bg">
      <%= select :aau_subject, :study_plan_category_id, @study_plan_categories.map { |e| [e.name, e.id] } ,
      {:prompt => "#{t('select_category')}"},{:onChange => "#{remote_function(:url => {:action => "list_plan_category" , :synonymous_group_id => params[:id]}, 
        :with => "'study_plan_category_id='+value",
        :before => "$('loader').show();",
        :success => "$('loader').hide();")}"}%>
      </div>
    </div>

    <div id="list-category-batch1"></div>
    <div id="list-category-batch2"></div>
    <div id="list-category-batch3"></div>
    <% end %>
  </div>
</div>


