<%- form_for :preparation_course do |c| -%>

<% unless flash[:notice].nil? %>
<p class="flash-msg"> <%= flash[:notice] %> </p>
<% end %>
<% unless flash[:warn_notice].nil? %>
<div id="errorExplanation" class="errorExplanation"><%= flash[:warn_notice] %> </div>
<% end %>
<%= error_messages_for 'preparation_course', :header_message => nil %>
<div id="form-content">
 <div class="label-field-pair">
  <label for="grade_name"><%= t('name') %><span class="necessary-field">*</span></label>
  <div class="text-input-bg"> <%= c.text_field :name %> </div>
</div>
<div class="label-field-pair">
  <label for="grade_name"><%= t('subject_number') %></label>
  <div class="text-input-bg"> <%= c.text_field :number %> </div>
</div>
<div class="label-field-pair">
  <label for="grade_name"><%= t('subject_code') %><span class="necessary-field">*</span></label>
  <div class="text-input-bg"> <%= c.text_field :code %> </div>
</div>


<div class="label-field-pair">
  <label for="grade_name"><%= t('subject_description') %></label>
  <div class="text-input-bg"> <%= c.text_field :description %> </div>
</div>

<div class="label-field-pair">
  <label for="grade_name"><%= t('is_deleted') %></label>
  <div class="input-container"><%= c.check_box :is_deleted %></div>
</div>

<div class="label-field-pair">
  <label for="grade_name"><%= t('subject_credit_hours') %><span class="necessary-field">*</span></label>
  <div class="text-input-bg"> <%= c.text_field :credit_hours %> </div>
</div>
<div id="submit-button1">
  <%#=submit_tag("► #{t('update')}") %>
  <%= c.submit "► #{t('save')}" %>
  <%= link_to "#{t('cancel')}", {:action => "index"}, :class=> 'user_button1' %>
</div>
</div>

<%- end -%>