<% unless flash[:notice].nil? %>
<p class="flash-msg"> <%= flash[:notice] %> </p>
<% end %>
<% unless flash[:warn_notice].nil? %>
<div id="errorExplanation" class="errorExplanation"><%= flash[:warn_notice] %> </div>
<% end %>

<%= error_messages_for 'preparation_courses_student', :header_message => nil %>

<div id="grading-levels-form">
  <%- form_for :preparation_courses_student do |c| -%>
  <!-- <div id="right-side-inputs"> -->
  <div id="batch_area">
    <div class="label-field-pair">
      <% unless @batches.nil? %>
      <label for="student_course"><%= t('select_batch') %><span class="necessary-field">*</span>: <%= image_tag("loader.gif",:align => "absmiddle",:border => 0,:id => "loader",:style =>"display: none;" ) %></label>
      <div  class="text-input-bg">
        <%= select :batch, :id,
        @batches.map {|b| [b.full_name, b.id] },
        {:prompt => "#{t('select_batch')}"},{:onChange => "#{remote_function(:url => {:action => "list_students",:id => @preparation_course.id }, :with => "'batch_id='+value",
          :before => "$('loader').show();",
          :success => "$('loader').hide();")}"}%>
        </div>
      <% else %>
        <%= "#{t('batches_not_created')}" %>
      <% end %>
      </div>
      <div id="list-batch-students">
      </div>
      <%= c.hidden_field :preparation_course_id , :value=> @preparation_course.id %>
    </div>

    <% end %>
  </div>