<%= stylesheet_link_tag "subject_types/subject_aau.css" %>
<% unless params[:batch_id].blank? %>
<% unless @students.empty? %>
<div class="label-field-pair category_list">  
  <label><%= t('select_students') %>:
    <b class="sel-list">
      <%= link_to_function t('all'), "$$('input.category_select').each(function(checkbox) { checkbox.checked = true; });" %>,
      <%= link_to_function t('none'), "$$('input.category_select').each(function(checkbox) { checkbox.checked = false; });" %>
    </b>
  </label>
  

  <table id="report_table" align="left" width="60%" cellpadding="1" cellspacing="1">
   <tr class="tr-head sub-heading">
     <td style="text-align: center;"><%= "#{t('status')}" %></td>
     <td><%= "#{t('student_name')}" %></td>
     <td><%= "#{t('admission_no')}" %></td>
   </tr>
   <tr class="tr-blank"></tr>
   <% @students.each do |s| %>
   <tr class="tr-<%= cycle('odd', 'even') %>" id="subject-<%=s.id%>"><div class="each_category">
    <td class="col-1">
    <% unless @preparation_courses_student.nil? %>
    <%= check_box_tag "student_id[]" ,s.id,(@preparation_courses_student.student_id.include? (s.id.to_s) unless @preparation_courses_student.student_id.nil?) ? true : false, :class => "category_select" %> 
    <% else %>
    <%= check_box_tag "student_id[]" ,s.id,(@preparation_courses_student.student_id.include? (s.id.to_s) unless @preparation_courses_student.nil?) ? true : false, :class => "category_select" %>
    <% end %>
    </td>
    <td class="col-2"><div class="category-name"><%= "#{s.full_name.titleize}"%> </div> </td>
    <td class="col-2"><div class="category-name"><%=  "#{s.admission_no}" %></div></td>
  </tr>
  
  <% end %>
</table>
</div>
    <div id="submit-button" style="margin-left: 235px;">
        <%= submit_tag "► #{t('save')}",:disable_with => "► #{t('please_wait')}", :class=> 'user_button' %>
        <%= link_to "#{t('back')}", {:action => "index"}, :class=> 'user_button' %>
    </div>
<% else %>
<p class="flash-msg"><%= "#{t('students_are_not_created_to_this_batch')}" %></p>
<% end %>
<% else %>
<p class="flash-msg"><%= "#{t('select_batch')}" %></p>
<% end %>