<%= stylesheet_link_tag "subject_types/prerequisite.css" %>

<div id="content-header">
	<div class="header-icon subjects-icon"></div>
	<h1><%= t('Preparation_course') %></h1>
	<div class='header-sep'>|</div>
	<div class='sub-header'><%= @preparation_course.name %></div>
</div>
<div id="page-yield">
	<div class="bread_crumb">
		<% breadcrumb :preparation_courses_assign_preparation_courses, @preparation_course %>
		<%= render_breadcrumbs  %>
	</div>
	<%=  render :partial => "preparation_courses/form_assign_preparation_courses" %>

</div>