<%= stylesheet_link_tag "subject_types/new.css" %>
<div id="content-header">
	<div class="header-icon subjects-icon"></div>
	<h1><%= t('preparation_courses') %></h1>
</div>
<div id="page-yield" style="width: 1019px;">
	<div class="bread_crumb">
		<% breadcrumb :preparation_courses_edit, @preparation_course %>
		<%= render_breadcrumbs  %>
	</div>
	<div class="box">
		<%=  render :partial => "preparation_courses/form" %>
	</div>
</div>