<%= stylesheet_link_tag "subject_types/subject_aau.css" %>

<div id="content-header">
  <div class="header-icon subjects-icon"></div>
  <h1><%= t('preparation_courses') %></h1>

  <div id="inner-tab-menu">
    <ul>
      <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('new_text')}", {:action => "new"} %> </li>
    </ul>
  </div>
</div>
<div id="page-yield">
  <div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
  </div>

  <div id="grade-list">
    <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
    <% end %>
    <% unless flash[:warn_notice].nil? %>
    <div id="errorExplanation" class="errorExplanation"><%= flash[:warn_notice] %> </div>
    <% end %>
    <% unless @preparation_courses.empty? %>
    <div id="page-yield">
      <table id="report_table" align="center" width="100%" cellpadding="1" cellspacing="1">
       <tr class="tr-head sub-heading">
        <td><%= "#{t('subject')}" %></td>
        <td><%= "#{t('code')}" %></td>
        <td><%= "#{t('action')}" %></td>
      </tr>
      <tr class="tr-blank"></tr>
      <%  @preparation_courses.each do |c| %>
      <tr class="tr-<%= cycle('odd', 'even') %>" id="subject-<%=c.id%>">
        <td class="col-2"><div class="category-name"><%= truncate(c.name, :length => 30)  %></div></td>
        <td class="col-2 batch_order_select"><%= truncate(c.code, :length => 13) %></td>
        <td class="col-2">
          <% if c.preparation_courses_students.empty? %>
          <%# if PreparationCoursesStudent.all.map {|p| p.preparation_course_id}.include? c.id.to_i %>
          <%= link_to "#{t('assign_to_students')}", {:action => "assign_preparation_courses", :id=>c.id} %>
          <% else %>
          <%= link_to "#{t('edit_assigned_students')}", {:action => "assign_preparation_courses", :id=>c.id} %>
          <% end %>
          &nbsp |
          <%= link_to "#{t('edit_text')}", {:action => "edit", :id=>c.id} %> |
          <%= link_to "#{t('delete_text')}", {:action => "destroy", :id=>c.id}, :confirm => "#{t('delete_confirm_msg')}", :html => {:class => 'themed_text'}  %>
        </td>                         
      </tr>
      <% end %>
    </table>
    <% else %>
    <p class="flash-msg"><%= t('no_preparation_courses_found') %></p>
    <% end %>
  </div>
</div>
</div>