
  <div class="label-field-pair">
      <label for="grade_name"><%= t('select_subcategory') %><span class="necessary-field">*</span></label>
      <div class="text-input-bg"> <%= select :aau_subject,:sub_category_id , @sub_category.map { |e| [e.name, e.id] } ,
      {:prompt => "#{t('select_subcategory')}" }%> </div>
  </div>
  

