  <div class="label-field-pair">
        <label for="student_course"><%= t('select_category') %><span class="necessary-field">*</span> : </label>
          <div  class="text-input-bg">
            <%= select :aau_subject, :study_plan_category_id, @study_plan_categories.map { |e| [e.name, e.id] } ,
            {:prompt => "#{t('select_category')}"},{:onChange => "#{remote_function(:url => {:action => "list_category",:aau_subject_id => params[:aau_subject_id] }, 
              :with => "'study_plan_category_id='+value",
              :before => "$('loader').show();",
              :success => "$('loader').hide();")}"}%></div>
              <%= image_tag("loader.gif",
          :align => "absmiddle",
          :border => 0,
          :id => "loader",
          :style =>"display: none;" ) %></div>

     