  <div class="label-field-pair">
  <% @study_plan_category = StudyPlanCategory.find(params[:study_plan_category_id]) %>
  <% @sub_category = @study_plan_category.sub_categories %>
        <label for="student_course"><%= t('select_subcategory') %>
        <span class="necessary-field">*</span> : </label>
          <div  class="text-input-bg">
            <%= select :aau_subject, :sub_category_id, 
            options_for_select([["Select An Type","select"],["All","all"],["Mandatory","mandatory"],["Elective","elective"]]) ,
            {:prompt => "#{t('select_subcategory')}"},{:onChange => "#{remote_function(:url => {:action => "list_subjects",:aau_subject_id => @aau_subject.id,:study_plan_category_id => @study_plan_category.id}, 
              :with => "'sub_category_id='+value",
              :before => "$('loader').show();",
              :success => "$('loader').hide();")}"}%></div>
              <%= image_tag("loader.gif",
          :align => "absmiddle",
          :border => 0,
          :id => "loader",
          :style =>"display: none;" ) %></div>
         