  <%= stylesheet_link_tag "subject_types/subject_aau.css" %>
  <% unless params[:sub_category_id] == "select" %>
<% if @subject.empty? %>
<p class="flash-msg"><%= "#{t('no_subject_in_this_category')} - #{@study_plan_category.name} / #{@p}"  %></p>
<% else %>
  <div class="label-field-pair category_list">  
            <label><%= t('select_a_prerequisite') %><span class="necessary-field">*</span>:
              <b class="sel-list">
                <%= link_to_function t('all'), "$$('input.category_select').each(function(checkbox) { checkbox.checked = true; });" %>,
                <%= link_to_function t('none'), "$$('input.category_select').each(function(checkbox) { checkbox.checked = false; });" %>
              </b>
            </label>
       <table id="report_table" align="left" width="60%" cellpadding="1" cellspacing="1">
   <tr class="tr-head sub-heading">
           <td style="text-align: center;"><%= "#{t('status')}" %></td>
      <td><%= "#{t('subject_name1')}" %></td>
      <td><%= "#{t('subject_code')}" %></td>
            </tr>
            <tr class="tr-blank"></tr>
            <% @subject.each do |c| %>
             <tr class="tr-<%= cycle('odd', 'even') %>" id="subject-<%=c.id%>"><div class="each_category">
                <td class="col-1"><%= check_box_tag "prerequisite[]" ,c.id,(@aau_subject.prerequisite.include?(c.id.to_s) unless @aau_subject.prerequisite.nil?) ? true : false,:class => "category_select" %> </td>
                <td class="col-2"><div class="category-name"><%= "#{c.aau_subject_name}"%> </div> </td>
                 <td class="col-1"><div class="category-name"><%=  "#{c.aau_subject_code}" %></div></td>
                </tr>
            <% end %>
            </table>
           </div>
            <%=  submit_tag "► #{t('create_text')}",:class=>'submit_button', :disable_with => "► #{t('please_wait')}" %>
 <% end %>
  <% end %>
