<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<table id="listing" align="center" width="100%" cellpadding="1" cellspacing="1">
  <% unless @students.blank? %>
    <tr class="tr-head">
      <td><%= t('sl_no') %></td>
      <td><%= t('name') %></td>
      <td><%= t('code') %></td>
      <td><%= t('category') %></td>
    </tr>
    <tr class="tr-blank"></tr>
    <% @students.each_with_index do |sub, i| %>
      <tr class="tr-<%= cycle('odd', 'even') %>">
        <td class="col-1"><%= i+1 %></td>
        <td class="col-4"><%=  link_to sub.aau_subject_name, :controller => 'aau_subjects', :action => 'edit_aau_subject', :id => sub.id%></td>
        <td class="col-4"><%= sub.aau_subject_code %></td>
        <td class="col-7"><%=  sub.study_plan_category.name | sub.sub_category.name %></td>
      </tr>
    <% end %>
  <% else %>

    <tr class="tr-<%= cycle('odd', 'even') %>">
      <td class="col-2"><%= t('no_subjects_found') %></td>
    </tr>
  <% end %>
</table>
<div id="submit-button">
  <%= link_to "#{t('cancel')}", {:action => "add_aau_subject"}, :class=> 'user_button' %>
</div>
