
<%= stylesheet_link_tag "subject_types/add_aau_subject.css" %>
<script type="text/javascript"> function setOption(optn) {document.getElementById("option").value = optn;} </script>

<div id="content-header">
<div class="header-icon subjects-icon"></div>
  <h1><%= t('subject_settings') %></h1>
</div>
<div id="page-yield">
 <div class="bread_crumb">
  <%= make_breadcrumb %>
  <%= render_breadcrumbs  %>
</div>
<%= error_messages_for 'aau_subject', :header_message => nil %>
 <div id="search_box_bg">
    <form name="search_form" action="" style="display:inline;">
      <%= hidden_field_tag("option", params['option'], :value => "active") %>
      <label for="user_name"><%= t('search_text') %>
        <%= image_tag("loader.gif",
          :align => "absmiddle",
          :border => 0,
          :id => "loader",
          :style =>"display: none;" ) %>
      </label>
      <div id="search_textbox">
        <%= text_field_tag("query", params['query'], :autocomplete => 'off') %>

      </div>
      </form>
      </div>
  <div id="information">
<% if @subject_type.empty? %>
<p class="flash-msg"><%= t('enter_the_subject_type') %></p>
<div class="grade-edit"><%= link_to t('subject_type') , :controller => "subject_types", :action => "add_subject_type" %></div>
<% else %>


<div class="box">
 
 <% form_for :aau_subject do |c| %>

 <% unless flash[:notice].nil? %>
 <p class="flash-msg"> <%= flash[:notice] %> </p> 
 <% end %>
 <div id="form-content">
  <div class="label-field-pair">
    <label for="grade_name"><%= t('subject_name1') %><span class="necessary-field">*</span></label>
    <div class="text-input-bg"> <%= c.text_field :aau_subject_name %> </div>
  </div>
  <div class="label-field-pair">
    <label for="grade_name"><%= t('subject_number') %></label>
    <div class="text-input-bg"> <%= c.text_field :aau_subject_number %> </div>
  </div>
  <div class="label-field-pair">
    <label for="grade_name"><%= t('subject_code') %><span class="necessary-field">*</span></label>
    <div class="text-input-bg"> <%= c.text_field :aau_subject_code %> </div>
  </div>

  <div class="label-field-pair textarea">
    <label for="grade_name"><%= t('subject_description') %></label>
    <div class="text-input-bg"> <%= c.text_field :aau_subject_description %> </div>
  </div>

  <div class="label-field-pair">
    <label for="grade_name"><%= t('subject_type1') %><span class="necessary-field">*</span></label>  
    <div class="text-input-bg"> <%= c.select :subject_type_id , @subject_type.map { |e| [e.name, e.id] } ,
      {:prompt => "#{t('select_subject_type')}" }%> </div>
    </div>
 <span class="expandable">
    <div class="label-field-pair">
      <label for="grade_name"><%= t('no_exams') %></label>
      <div class="input-container"><%= c.check_box :no_exam %></div>
    </div>
</span> 

 <div class="label-field-pair">
      <label for="grade_name"><%= t('maximum_weekly_classes') %><span class="necessary-field">*</span></label>
      <div class="text-input-bg"> <%= c.text_field :max_weekly_classes %> </div>
    </div>

    <div class="label-field-pair">
      <label for="grade_name"><%= t('subject_credit_hours') %><span class="necessary-field">*</span></label>
      <div class="text-input-bg"> <%= c.text_field :aau_credit_hours %> </div>
    </div>

 
      <div class="label-field-pair">
       <label for="student_course"><%= t('select_synonymous_group') %>   </label>
       <div class="text-input-bg">
         <%= c.select :synonymous_group_id,
           @synonymous_groups.map {|b| [b.name, b.id]},
           {:prompt => "#{t('select_synonymous_group')}"}%></div>
           </div>

      <div class="label-field-pair">
        <label for="student_course"><%= t('select_category') %><span class="necessary-field">*</span> : <%= image_tag("loader.gif",
          :align => "absmiddle",
          :border => 0,
          :id => "loader",
          :style =>"display: none;" ) %></label>
          <div  class="text-input-bg">
            <%= select :aau_subject, :study_plan_category_id,
            @study_plan_categories.map {|b| [b.name, b.id]},
            {:prompt => "#{t('select_category')}"},{:onChange => "#{remote_function(:url => {:action => "list_plans"}, 
              :with => "'study_plan_category_id='+value",
              :before => "$('loader').show();",
              :success => "$('loader').hide();")}"}%></div></div>
            <div id="list-category-batch">

            </div>
                 
 <div id="submit-button">
      <%=submit_tag "► #{t('create_text')}", :disable_with => "► #{t('please_wait')}" %>
    </div>
  </div>

  <%- end -%>

  <div id="grade-list1">
    <%=  render :partial => "aau_subjects/aau_subject" %>
    <% end %>
  </div>
</div>
</div>
</div>

  <script type="text/javascript">
    function search_ajax(){
      if ($('query').value.include("%")) return;
<%="#{remote_function(:url => {:action => "search_ajax"},
:with =>"'query='+escape($('query').value)+'&option='+$('option').value",
:before => "Element.show('loader')",
:success => "Element.hide('loader')",
:update=>"information"
)}"%>
  }

  document.observe("dom:loaded", function() {
    new Form.Element.Observer('query', 1, search_ajax);
    new Form.Element.Observer('option', 0.5, search_ajax);
  });

  </script>