<%= stylesheet_link_tag "subject_types/subject_aau.css" %>
<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>
  <% unless flash[:notice1].nil? %>
    <p class="flash-msg"> <%= flash[:notice1] %> </p>
  <% end %>
  <% unless @aau_subjects.empty? %>
 <div class="extender"></div>
  <div class="pagination_list1">
        <div class="pagination_text1">
      <div class="label1"><%= t('total_deleted_subjects') %></div>
      <div class="label2"><%=": #{@aau_subjects.total_entries}" %></div>
    </div>
  </div>
  <div id="page-yield">
  <table id="report_table" align="center" width="100%" cellpadding="1" cellspacing="1" style="margin-top: 50px";>
   <tr class="tr-head sub-heading">
      <td><%= t('no_text') %></td>
      <td><%= "#{t('subject')}" %></td>
      <td><%= "#{t('code')}" %></td>
      <td><%= "#{t('type_category')}" %></td>
      <td><%= "#{t('prerequisite')}" %></td>
      <td><%= "#{t('action')}" %></td>
    </tr>
     <tr class="tr-blank"></tr>
    <% page_count=0 %>
      <% @aau_subjects.each_with_index do |c,@i| %>
        <% if params[:page].present? %>
          <% if params[:page].to_i >= 1 %>
            <% @i = @i  + (params[:page].to_i - 1) * @aau_subjects.per_page.to_i %>
          <% end %>
           <% else %> 
           <% @i = @i %>
        <% end %>
        <% page_count+=1 %>
      <tr class="tr-<%= cycle('odd', 'even') %>" id="subject-<%=c.id%>">
      <td class="col-5"> <%=@i+1 %></td>
        <td class="col-2"><div class="category-name"><%= truncate(c.aau_subject_name, :length => 30)  %></div></td>
          <td class="col-1"><div class="category-name"><%= truncate(c.aau_subject_code, :length => 13) %></div></td>
          <% unless c.study_plan_category_id.nil? %>
          <td class="col-2"><div class="category-name">
          <% @sp = StudyPlanCategory.find(c.study_plan_category_id) %>
          <%= @sp.name %> | 
          <% @sb = SubCategory.find(c.sub_category_id) %>
          <%= @sb.name %> </div></td>
          <% end %>
           <td class="col-2"><div class="category-name">
           <% if c.prerequisite.nil? %> 
              <font color="red"><%=  "#{t('there_are_no_prerequisite')}" %></font> 
                <% else %>
                <% c.prerequisite.each do |i| %>
                <% @a = i.to_i %>
                <% @sub = AauSubject.find(@a) %>
                <div>
                <%= @sub.aau_subject_name.capitalize %>
                <%= @sub.aau_subject_code.capitalize %>
                </div>
                <% end %>
                <% end %>
              </div></td>
            <td class="col-6"><div class="category-name"><%= link_to "#{t('edit_text')}", {:action => "edit_aau_subject", :id=>c.id} %> | 
      
           <%= link_to "#{t('delete_text')}", {:action => "delete_deleted_aau_subject", :id=>c.id}, :confirm => "#{t('delete_confirm_msg')}", :html => {:class => 'themed_text'}  %>
           </div>
            </td> 
           </tr>
    <% end %>
  </table>
  <% else %>
    <p class="flash-msg"><%= t('no_subject_record_found') %></p>
  <% end %>
  <div class="buttons">
            <%= link_to " #{t('back')}",
            {:controller => "aau_subjects", :action => "add_aau_subject"},:class => "user_button1"%>
          </div>
</div>
<%= will_paginate @aau_subjects %>
