<%= stylesheet_link_tag "subject_types/new.css" %>
<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
<div class="header-icon subjects-icon"></div>
  <h1><%= t('subject_settings') %></h1>
</div>
<div id="page-yield">
 <div class="bread_crumb">
 <% breadcrumb :aau_subjects_edit_aau_subject, @aau_subject %>
 <%= render_breadcrumbs  %> 
</div>
<div class="box">
<%- form_for :aau_subject do |c| -%>

<% unless flash[:notice].nil? %>
<p class="flash-msg"> <%= flash[:notice] %> </p>
<% end %>
<% unless flash[:warn_notice].nil? %>
<div id="errorExplanation" class="errorExplanation"><%= flash[:warn_notice] %> </div>
<% end %>
<%= error_messages_for 'aau_subject', :header_message => nil %>
<div id="form-content">
 <div class="label-field-pair">
  <label for="grade_name"><%= t('subject_name1') %><span class="necessary-field">*</span></label>
  <div class="text-input-bg"> <%= c.text_field :aau_subject_name %> </div>
</div>
<div class="label-field-pair">
  <label for="grade_name"><%= t('subject_number') %></label>
  <div class="text-input-bg"> <%= c.text_field :aau_subject_number %> </div>
</div>
<div class="label-field-pair">
  <label for="grade_name"><%= t('subject_code') %><span class="necessary-field">*</span></label>
  <div class="text-input-bg"> <%= c.text_field :aau_subject_code %> </div>
</div>
<div class="label-field-pair">
  <label for="grade_name"><%= t('subject_description') %></label>
  <div class="text-input-bg"> <%= c.text_field :aau_subject_description %> </div>
</div>

<div class="label-field-pair">
  <label for="grade_name"><%= t('subject_type1') %><span class="necessary-field">*</span></label>  
  <div class="text-input-bg"> <%= c.select :subject_type_id , @subject_type.map { |e| [e.name, e.id] } ,
    {:prompt => "#{t('select_a_course')}" }%> </div>
  </div>
<span class="expandable">
    <div class="label-field-pair">
      <label for="grade_name"><%= t('no_exams') %></label>
      <div class="input-container"><%= c.check_box :no_exam %></div>
    </div>
</span> 

 <div class="label-field-pair">
      <label for="grade_name"><%= t('maximum_weekly_classes') %><span class="necessary-field">*</span></label>
      <div class="text-input-bg"> <%= c.text_field :max_weekly_classes %> </div>
    </div>

  <div class="label-field-pair">
    <label for="grade_name"><%= t('subject_credit_hours') %><span class="necessary-field">*</span></label>
    <% if @aau_subject.aau_subjects_study_plans.present? %>
      <div class="text-input-bg"> <%= c.text_field :aau_credit_hours , :readonly => true %> </div>
    <% else %>
      <div class="text-input-bg"> <%= c.text_field :aau_credit_hours %> </div>
    <% end %>
  </div>
  
        <div class="label-field-pair">
       <label for="student_course"><%= t('select_synonymous_group') %>   </label>
       <div class="text-input-bg">
         <%= c.select :synonymous_group_id,
           @synonymous_groups.map {|b| [b.name, b.id]},
           {:include_blank => "#{t('select_synonymous_group')}"}%></div>
           </div>
           
      <div class="label-field-pair">
        <label for="student_course"><%= t('select_category') %><span class="necessary-field">*</span> : <%= image_tag("loader.gif",
          :align => "absmiddle",
          :border => 0,
          :id => "loader",
          :style =>"display: none;" ) %></label>
          <div  class="text-input-bg">
            <%= select :aau_subject, :study_plan_category_id,
            @study_plan_categories.map {|b| [b.name, b.id]},
            {:include_blank  => "#{t('select_category')}"},{:onChange => "#{remote_function(:url => {:action => "list_plans"}, 
              :with => "'study_plan_category_id='+value",
              :before => "$('loader').show();",
              :success => "$('loader').hide();")}"}%></div></div>
            <div id="list-category-batch">

            </div>
                 
      
  <div id="submit-button">
    <%=submit_tag("► #{t('update')}") %>
  </div>
</div>

<%- end -%>
</div>
</div>
