<%= stylesheet_link_tag "subject_types/prerequisite.css" %>

<div id="content-header">
  <div class="header-icon subjects-icon"></div>
  <h1><%= t('prerequisite') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('create_prerequisites') %></div>
</div>
<div id="page-yield">
  <div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
  </div>
  <div id="flash_box">
  </div>

  <% unless flash[:notice].nil? %>
  <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  
  <div id="grading-levels-form">
    <% form_for :aau_subject ,:url =>{:action => 'prerequisite_subjects'}  do |f|%>
    <div id="right-side-inputs">
      <div class="label-field-pair">
        <label for="student_course"><%= t('select_a_subject1') %><span class="necessary-field">*</span> : </label>
        <div  class="text-input-bg">
          <%= select :subject, :aau_subject_id,
          @aau_subjects.map {|b| [b.aau_subject_name, b.id]},
          {:prompt => "#{t('select_a_subject1')}"},{:onChange => "#{remote_function(:url => {:action => "list_study_plan"}, :with => "'aau_subject_id='+value",:before => "$('loader').show();",
          :success => "$('loader').hide();")}"}%></div>
<%= image_tag("loader.gif",
  :align => "absmiddle",
  :border => 0,
  :id => "loader",
  :style =>"display: none;" ) %></div>
  <% end %>
  <div id="list-category-batch"></div>
  <div id="list-category-batch1"></div><div id="list-category-batch2">
</div>

</div>
</div>
</div>




