<%- form_for :study_plan do |c| -%>

<% unless flash[:notice].nil? %>
<p class="flash-msg"> <%= flash[:notice] %> </p>
<% end %>
<% unless flash[:warn_notice].nil? %>
<div id="errorExplanation" class="errorExplanation"><%= flash[:warn_notice] %> </div>
<% end %>
<%= error_messages_for 'study_plan', :header_message => nil %>
<div id="form-content">
  <div class="label-field-pair">
    <label for="grade_name"><%= t('plan_issue') %><span class="necessary-field">*</span></label>
    <div class="text-input-bg"> <%= c.text_field :plan_issue %> </div>
  </div>
  <div class="label-field-pair">
    <label for="grade_name"><%= t('credit_hours') %><span class="necessary-field">*</span></label>
    <div class="text-input-bg"> <%= c.text_field :credit_hours %> </div>
  </div>
  <%= c.hidden_field :user_id , :value=> @current_user.id %>

  <div>
      <div class="label-field-pair">
        <label for="student_course"><%= t('select_category1') %><span class="necessary-field">*</span> : </label>
        <div  class="text-input-bg">
          <%= select :cat, :study_plan_category_id, @study_plan_categories.map { |e| [e.name, e.id] } ,
          {:prompt => "#{t('select_category1')}"},{:onChange => "#{remote_function(:url => {:action => "list_sub_category", :id => params[:id]}, :with => "'study_plan_category_id='+value", :before => "$('loader').show();",
          :success => "$('loader').hide();")}"}%>
        </div>
        <%= image_tag("loader.gif",
          :align => "absmiddle",
          :border => 0,
          :id => "loader",
          :style =>"display: none;" ) %>
      </div>

  <div id="list-sub-category"></div>
  <div id="list-subjects-to-select"></div>
  <% unless @study_plan.id.nil? %>
  <%=  render :partial => "study_plans/list_selected_subjects" %>
  <% end %>
  <div id="submit-button"></div>
</div>
</div>

<%- end -%>