<table id="report_table" align="center" width="50%" cellpadding="1" cellspacing="1" style="margin-top: 50px";>
   <tr class="tr-head sub-heading">
      <td><%= t('status') %></td>
      <td><%= "#{t('batch')}" %></td>
            </tr>
      <tr class="tr-blank"></tr>
      <% if @batch.nil? and @batches.empty? %>
        <tr>
        <td colspan="2" style="text-align: center; background-color: rgb(200, 223, 226);
    font-size: 13px;"><b><%=  "#{t('there_are_no_batches_to_select')}"  %></b></td>
        </tr>
        <% else %>
  <% unless @batch.nil? %>
     <tr class="tr-<%= cycle('odd', 'even') %>" id="subject-<%=@batch.id%>">
       <td class="col-1"><%= radio_button_tag "batch_ids[]" ,@batch.id,true %> </td>
         <td class="col-2"><%= @batch.name %></td>
      </tr>
  <% end %>
<% unless @batches.empty? %>
<% @batches.each do |c| %>   
<tr class="tr-<%= cycle('odd', 'even') %>" id="subject-<%=c.id%>">
         <td class="col-1"><%= radio_button_tag "batch_ids[]" ,c.id,false %></td>
         <td class="col-2"><%= c.name %></td>
</tr>
<% end %>
<% end %>
<% end %>
</table>
 <div id="submit-button" style="margin-left: 440px;">
      <%= submit_tag "► #{t('save')}", :disable_with => "► #{t('please_wait')}" , :class=> 'user_button' %>
  </div>