  <div class="label-field-pair">
  <% @study_plan_category = StudyPlanCategory.find(params[:study_plan_category_id]) %>
  <% @sub_category = @study_plan_category.sub_categories %>
        <label for="student_course"><%= t('select_subcategory') %>
        <span class="necessary-field">*</span> : </label>
          <div  class="text-input-bg">
            <%= select :study_sub, :sub_category_id, @sub_category.map { |e| [e.name, e.id] } ,
            {:include_blank => "#{t('select_subcategory')}"},{:onChange => "#{remote_function(:url => {:action => "list_plan_subjects",:aau_subject_id => @aau_subject.id,:study_plan_category_id => @study_plan_category.id,:study_plan_id => @study_plan.id}, 
              :with => "'sub_category_id='+value",
              :before => "$('loader').show();",
              :success => "$('loader').hide();")}"}%></div>
              <%= image_tag("loader.gif",
          :align => "absmiddle",
          :border => 0,
          :id => "loader",
          :style =>"display: none;" ) %></div>
         
