<%= stylesheet_link_tag "study_plans/list_subjects.css" %>
<% if @aau_subjects.empty? %>
<p class="flash-msg"><%= "#{t('no_subject_in_this_category')}"  %></p>
<% else %>
<div style="margin-top: 10px;">
  <label>
    <b style="float:right; padding-right:75px;"><%= "#{t('maximum_credit_hours_for_this_category')}" %> : <%= @sub_cat.credit_hours.to_i %></b>
  </label>


  <table id="report_table" align="center" width="100%" cellpadding="1" cellspacing="1">
   <tr class="tr-head sub-heading">
     <td style="text-align: center;"><%= "#{t('status')}" %></td>
     <td><%= "#{t('name')}" %></td>
     <td><%= "#{t('code')}" %></td>
     <td><%= "#{t('description')}" %></td>
     <td><%= "#{t('credit_hours')}" %></td>
   </tr>
   <tr class="tr-blank"></tr>
   <% @aau_subjects.each do |c| %>
   <tr class="tr-<%= cycle('odd', 'even') %>" id="subject-<%=c.id%>"><div class="each_category">
    <td class="col-1">
    <%= check_box_tag "subject_ids[]" ,c.id,(c.aau_subjects_study_plans.map {|p| p.study_plan_id}.include? @study_plan_id.to_i unless @study_plan_id.nil?) ? true : false,
      {:onclick => "check_total(#{@sub_cat.credit_hours.to_i},this)",:title =>"#{c.aau_credit_hours.to_i}", :class=> "category_select"} %>  
    </td>   
    <td class="col-2"><div class="category-name"><%= "#{c.aau_subject_name}"%> </div> </td>
    <td class="col-2"><div class="category-name"><%=  "#{c.aau_subject_code}" %></div></td>
    <td class="col-2"><div class="category-name"><%=  "#{c.aau_subject_description}" %></div></td>
    <td class="col-2"><div class="category-name"><%=  "#{c.aau_credit_hours}" %></div></td>
  </tr>
  <% end %>
</table>
</div>
<% end %>
