<%= stylesheet_link_tag "study_plans/list_subjects.css" %>
<% if @subjects.empty? %>
<p class="flash-msg"><%= "#{t('no_subject_in_this_study_plan')}"  %></p>
<% else %>
<div style="margin-top: 40px;">
<h3><%= "#{t('mandatory_subjects')}" %> :</h3>
  <table id="report_table" align="center" width="100%" cellpadding="1" cellspacing="1";>
  <tr class="tr-head sub-heading">
     <td ><%= "#{t('no_text')}" %></td>
     <td><%= "#{t('name')}" %></td>
     <td><%= "#{t('code')}" %></td>
     <td><%= "#{t('category')}" %></td>
     <td><%= "#{t('prerequisites')}" %></td>
     <td><%= "#{t('credit_hours')}" %></td>
     <td><%= "#{t('equivalence')}" %></td>
   </tr>
   <tr class="tr-blank"></tr>
   <% if @mandatory.empty? %>
    <tr>
    <td colspan="7" style="text-align: center; background-color: rgb(200, 223, 226);
    font-size: 13px;"><b><%=  "#{t('there_are_no_subjects_under_this_subcategory')}"  %></b></td>
    </tr>
    <% else %>
    <% @mandatory.each_with_index do |i, @j| %>
    <% q = i.id%>
    <tr class="tr-<%= cycle('odd', 'even') %>" id="subject-<%= i.id%>">
    <td class="col-1"><div class="category-name"><%= @j+1 %> </div> </td>
    <td class="col-2"><div class="category-name"><%= "#{i.aau_subject_name}"%> </div> </td>
    <td class="col-2"><div class="category-name"><%=  "#{i.aau_subject_code}" %></div></td>
    <td class="col-2"><div class="category-name"><%=  "#{i.study_plan_category.name}" %></div></td>
    <td class="col-2"><div class="category-name">
    <% @study_pre = AauSubjectsStudyPlan.find_by_aau_subject_id_and_study_plan_id(i.id,@study_plan.id) %>
            <% if @study_pre.prerequisite.nil?  %> 
              <font color="red"><%=  "#{t('there_are_no_prerequisite')}" %></font>  <div class="buttons">
               <%= link_to "#{t('assign')}", {:action => "plan_prerequisite", :id => q , :study_plan_id => @study_plan.id}, :class=> 'user_button' %>  
               </div>
                <% else %>
                <% @name =  @study_pre.prerequisite.collect {|x| AauSubject.find x.to_i} %>
                <div>
                <% @name.each do |i|%>
                <%= i.aau_subject_name %>
                <%= i.aau_subject_code%>
                <% end %></div>
                 <div class="buttons">
                <%= link_to "#{t('assign')}", {:action => "plan_prerequisite", :id => q , :study_plan_id => @study_plan.id}, :class=> 'user_button',:style =>"margin-top: 5px;" %>
                <% end %></div></div></td>
    <td class="col-2"><div class="category-name"><%=  "#{i.aau_credit_hours}" %></div></td>
    <td class="col-1">
    <%= check_box_tag "equivalence_ids[]" ,i.id,(i.aau_subjects_study_plans.map {|p| [p.study_plan_id,p.equivalence]}.include? [@study_plan.id,true]) ? true : false %>  
    </td>
    </tr>
      <% end %>
     <tr class="tr-<%= cycle('odd', 'even') %>" id="subject-<%= 1 %>">
    <td class="col-2" colspan="5" style="text-align: right; font-size: 16px;"><b><%=  "#{t('total')}"  %></b></td>
    <td class="col-2" colspan="2" style="text-align: left; font-size: 16px;"><b><%=  @mandatory_total %></b></td>
    </tr>
    <% end %>
    </table>
  </div>
  <div style="margin-top: 40px;margin-bottom: 30px;">
  <h3><%= "#{t('elective_subjects')}" %> :</h3>
  <table id="report_table" align="center" width="100%" cellpadding="1" cellspacing="1";>
  <tr class="tr-head sub-heading">
     <td ><%= "#{t('no_text')}" %></td>
     <td><%= "#{t('name')}" %></td>
     <td><%= "#{t('code')}" %></td>
     <td><%= "#{t('category')}" %></td>
     <td><%= "#{t('prerequisites')}" %></td>
     <td><%= "#{t('credit_hours')}" %></td>
     <td><%= "#{t('equivalence')}" %></td>
  </tr>
  <tr class="tr-blank"></tr>
  <% if @elective.empty? %>
    <tr>
    <td colspan="7" style="text-align: center; background-color: rgb(200, 223, 226);
    font-size: 13px;"><b><%=  "#{t('there_are_no_subjects_under_this_subcategory')}"  %></b></td>
    </tr>
    <% else %>
    <% @elective.each_with_index do |i, @j| %>
    <tr class="tr-<%= cycle('odd', 'even') %>" id="subject-<%= i.id%>">
    <% q = i.id%>
    <td class="col-1"><div class="category-name"><%= @j+1 %> </div> </td>
    <td class="col-2"><div class="category-name"><%= "#{i.aau_subject_name}"%> </div> </td>
    <td class="col-2"><div class="category-name"><%=  "#{i.aau_subject_code}" %></div></td>
    <td class="col-2"><div class="category-name"><%=  "#{i.study_plan_category.name}" %></div></td>
    <td class="col-2"><div class="caategory-name">
             <% @study_pre = AauSubjectsStudyPlan.find_by_aau_subject_id_and_study_plan_id(i.id,@study_plan.id) %>
             
           <% if @study_pre.prerequisite.nil?  %> 
              <font color="red"><%=  "#{t('there_are_no_prerequisite')}" %></font>  <div class="buttons">
               <%= link_to "#{t('assign')}", {:action => "plan_prerequisite", :id => q, :study_plan_id => @study_plan.id } ,:class=> 'user_button'%>  
                <% else %>
                <% @name = @study_pre.prerequisite.collect {|x| AauSubject.find x.to_i} %>
                   <div>
                <% @name.each do |i|%>
                <%= i.aau_subject_name %>
                <%= i.aau_subject_code%>
                <% end %></div>
                <%= link_to "#{t('assign')}", {:action => "plan_prerequisite", :id => q, :study_plan_id => @study_plan.id}, :class=> 'user_button',:style => "margin-top: 5px;" %>
                <% end %></div></div></td>
    <td class="col-2"><div class="category-name"><%=  "#{i.aau_credit_hours}" %></div></td>
    <td class="col-1">
    <%= check_box_tag "equivalence_ids[]" ,i.id,(i.aau_subjects_study_plans.map {|p| [p.study_plan_id,p.equivalence]}.include? [@study_plan.id,true]) ? true : false %>  
    </td>
    </tr>
      <% end %>
     <tr class="tr-<%= cycle('odd', 'even') %>" id="subject-<%= 1 %>">
    <td class="col-2" colspan="5" style="text-align: right; font-size: 16px;"><b><%=  "#{t('total')}"  %></b></td>
    <td class="col-2" colspan="2" style="text-align: left; font-size: 16px;"><b><%=  @elective_total %></b></td>
    </tr>
    <% end %>
</table>
</div>
<% end %>




<%#((i.aau_subjects_study_plans.map {|p| p.study_plan_id}.include? @study_plan.id) and i.aau_subjects_study_plans.map {|p| p.equivalence}.include? true) %>