<%= stylesheet_link_tag "study_plans/assign_study_plan.css" %>
<div id="content-header">
  <div class="header-icon subjects-icon"></div>
  <h1><%= t('study_plan') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= @study_plan.plan_issue %></div>
</div>
<div id="page-yield">
  <div class="bread_crumb">
    <% breadcrumb :study_plans_assign_study_plan, @study_plan %>
    <%= render_breadcrumbs  %>
  </div>
  <% unless flash[:notice1].nil? %>
    <p class="flash-msg"> <%= flash[:notice1] %> </p>
  <% end %>



    <div id="grading-levels-form">
    <% form_for :batches_study_plan do |c| %>
    <div id="right-side-inputs">
      <div class="label-field-pair">
        <label for="student_course"><%= t('select_course') %><span class="necessary-field">*</span> : </label>
        <div  class="text-input-bg">
          <%= select :bat, :course_id,
          @courses.map {|b| [b.course_name, b.id]},
          {:prompt => "#{t('select_course')}"},{:onChange => "#{remote_function(:url => {:action => "list_batches", :id => @study_plan.id }, :with => "'course_id='+value",:before => "$('loader').show();",
          :success => "$('loader').hide();")}"}%>
        </div>
          <%= image_tag("loader.gif",
            :align => "absmiddle",
            :border => 0,
            :id => "loader",
            :style =>"display: none;" ) %>
      </div>
  <div id="list-batch"></div>
  <% end %>
</div>


<table id="report_table" align="center" width="50%" cellpadding="1" cellspacing="1" style="margin-top: 100px";>
  <tr class="tr-head sub-heading">
      <td><%= "#{t('assigned_batches')}" %></td>
  </tr>
  <tr class="tr-blank"></tr>
  <% unless @batch.nil? %>
      <tr class="tr-<%= cycle('odd', 'even') %>" id="subject-<%=@batch.id%>">
        <td class="col-2"><%= link_to @batch.name.capitalize , { :action => "show", :id=>@study_plan.id , :batch_id => @batch.id}%></td>
      </tr>
  <% else %>
      <tr>
      <td style="text-align: center; background-color: rgb(200, 223, 226);
    font-size: 13px;"><b><%=  "#{t('no_batches_assigned')}"  %></b></td>
      </tr>
  <% end %>
</table>
</div>
</div>





