<%= stylesheet_link_tag "study_plans/show.css" %>
<div id="content-header">
	<div class="header-icon subjects-icon"></div>
	<h1><%= t('study_plan') %></h1>
	<div class='header-sep'>|</div>
	<div class='sub-header'><%= @study_plan.plan_issue %></div>
</div>
<div id="page-yield">
	<div class="bread_crumb">
		<% breadcrumb :study_plans_edit, @study_plan %>
		<%= render_breadcrumbs  %>
	</div>
	<div class="box">
		<%=  render :partial => "study_plans/form" %>
	</div>
</div>

<script type='text/javascript'>
  function check_total(e,t){value=parseInt(e);var a=parseInt(0);$$("input.category_select").each(function(e){1==e.checked&&(a+=parseInt(e.title))}),a>value?(alert("Total is greater than Total Subcategory Hours !"),t.checked=!1):a==value&&alert("Total is equal to Total Subcategory Hours !")}
</script>
