<%= stylesheet_link_tag "subject_types/subject_aau.css" %>

<div id="content-header">
  <div class="header-icon subjects-icon"></div>
  <h1><%= t('study_plan') %></h1>

  <div id="inner-tab-menu">
    <ul>
      <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('new_text')}", {:action => "new"} %> </li>
    </ul>
  </div>
</div>
<div id="page-yield">
  <div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
  </div>

  <div id="grade-list">
    <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
    <% end %>
    <% unless @study_plans.empty? %>
    <div id="page-yield">
      <table id="report_table" align="center" width="75%" cellpadding="1" cellspacing="1">
       <tr class="tr-head sub-heading">
        <td><%= "#{t('plan_issue')}" %></td>
        <td><%= "#{t('credit_hours')}" %></td>
        <td><%= "#{t('action')}" %></td>
      </tr>
      <tr class="tr-blank"></tr>
      <%  @study_plans.each do |c| %>
      <tr class="tr-<%= cycle('odd', 'even') %>" id="subject-<%=c.id%>">
        <td class="col-2"><div class="category-name"><%= c.plan_issue  %></div></td>
        <td class="col-1"><%= c.credit_hours %></td>
        <td class="col-2">
          <%= link_to "#{t('show_text')}", {:action => "show", :id=>c.id} %> |
          <%= link_to "#{t('edit_text')}", {:action => "edit", :id=>c.id} %> |
          <% if c.batches_study_plans.empty? %>
          <%= link_to "#{t('assign_batch')}", {:action => "assign_study_plan", :id=>c.id} %>
          <% else %>
          <%= link_to "#{t('edit_assign_batch')}", {:action => "assign_study_plan", :id=>c.id} %>
          <% end %>
          <%#= link_to "#{t('delete_text')}", {:action => "destroy", :id=>c.id}, :confirm => "#{t('delete_confirm_msg')}", :html => {:class => 'themed_text'}  %>
        </td>                         
      </tr>
      <% end %>
    </table>
    <% else %>
    <p class="flash-msg"><%= t('no_study_plan_found') %></p>
    <% end %>
  </div>
</div>
</div>