<%= stylesheet_link_tag "subject_types/prerequisite.css" %>
<div id="content-header">
	<div class="header-icon subjects-icon"></div>
	<h1><%= t('study_plan') %></h1>
</div>
<div id="page-yield">
	<div class="bread_crumb">
		<%= make_breadcrumb %>
		<%= render_breadcrumbs  %>
	</div>
	<div class="box">
		<%=  render :partial => "study_plans/form" %>
	</div>
</div>

<script type='text/javascript'>
function check_total(e,t){value=parseInt(e);var a=parseInt(0);$$("input.category_select").each(function(e){1==e.checked&&(a+=parseInt(e.title))}),a>value?(alert("Total is greater than Total Subcategory Hours !"),t.checked=!1):a==value&&alert("Total is equal to Total Subcategory Hours !")}
</script>