<%= stylesheet_link_tag "subject_types/prerequisite.css" %>

<div id="content-header">
  <div class="header-icon subjects-icon"></div>
  <h1><%= t('prerequisite') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('create_prerequisites') %></div>
</div>
<div id="page-yield">
  <div class="bread_crumb">
    <%#= make_breadcrumb %>
    <%#= render_breadcrumbs  %>
  </div>
  <div id="flash_box">
  </div>

  <% unless flash[:notice].nil? %>
  <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  
  <div id="grading-levels-form">
    <% form_for :aau_subject do |c| %>
   <div class="label-field-pair">
        <label for="student_course"><%= t('select_category') %><span class="necessary-field">*</span> : </label>
          <div  class="text-input-bg">
            <%= select :study_sub, :study_plan_category_id, @study_plan_categories.map { |e| [e.name, e.id] } ,
            {:include_blank => "#{t('select_category')}"},{:onChange => "#{remote_function(:url => {:action => "list_plan_categories",:id => params[:id],:study_plan_id => @study_plan.id}, 
              :with => "'study_plan_category_id='+value",
              :before => "$('loader').show();",
              :success => "$('loader').hide();")}"}%></div>
              <%= image_tag("loader.gif",
          :align => "absmiddle",
          :border => 0,
          :id => "loader",
          :style =>"display: none;" ) %></div>
   
  <div id="list-category-batch"></div>
    <div id="list-category-batch1"></div>
    <div id="list-category-batch2"></div>

</div>


<% end %>
 <div class="buttons">
    <%= link_to " #{t('back')}",
    {:controller => "study_plans", :action => "show" ,:id => @study_plan.id},:class => "user_button"%></div>

</div>
</div>
</div>




