<%= stylesheet_link_tag "study_plans/show.css" %>
<%- form_for :study_plan do |c| -%>
<% unless flash[:notice].nil? %>
<p class="flash-msg"> <%= flash[:notice] %> </p>
<% end %>
<div id="content-header">
	<div class="header-icon subjects-icon"></div>
	<h1><%= t('study_plan') %></h1>
	<div class='header-sep'>|</div>
	<div class='sub-header'><%= @study_plan.plan_issue %></div>
</div>
<div id="page-yield">
	<div class="bread_crumb">
		<% breadcrumb :study_plans_show, @study_plan %>
		<%= render_breadcrumbs  %>
	</div>
	<div class="box">
		<div id="form-content">

  			<div class="pagination_list1">
        		<div class="pagination_text1">
        			<div class= "plan_issue">
      					<div class="label1"><%= t('plan_issue') %>:</div>
      					<div class="label2"><%= @study_plan.plan_issue %> </div>
      					<% unless params[:batch_id].nil? %>
      					<% @batch = batch(params[:batch_id]) %>
      					<div class="label3"><%= t('course_text') %>:</div>
      					<div class="label4"><%= @batch.course.course_name %> </div>
      					<% end %>
      				</div>
      				<div class= "plan_issue1">
				      	<div class="label1"><%= t('credit_hours') %>:</div>
				      	<div class="label2"><%= @study_plan.credit_hours %></div>
				      	<% unless params[:batch_id].nil? %>
      					<div class="label3"><%= t('batch_text') %>:</div>
      					<div class="label4"><%= @batch.name %> </div>
      					<% end %>
      				</div>
    			</div>
    		</div>


			<%=  render :partial => "study_plans/list_selected_subjects" %>
		</div>
		<div id="submit-button" style="margin-left: 370px;">
  			<%= link_to "#{t('edit_text')}", {:action => "edit", :id=>@study_plan.id}, :class=> 'user_button' %>
  			<%= submit_tag "► #{t('save')}",:disable_with => "► #{t('please_wait')}", :class=> 'user_button' %>
  			<%= link_to "#{t('back')}", {:action => "index"}, :class=> 'user_button' %>
		</div>
	</div>
</div>
<% end %>