<%= stylesheet_link_tag "aau_home/index.css" %>
<div id="content-header">
  <div class="header-icon subjects-icon"></div>
  <h1><%= t('aau_subjects') %></h1>
</div>

<div id="page-yield">
  <div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
  </div>
  <% unless flash[:notice].nil? %>
  <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>

  <div id="box">

    <div class="link-box">
      <div class="link-heading"><%= link_to "#{t('preparation_courses')}", :controller=>"preparation_courses", :action => "index" %></div>
      <div class="link-descr"><%= t('manage_preparation_courses') %></div>
    </div>

    <div class="link-box">
      <div class="link-heading"><%= link_to "#{t('study_type_settings')}", :controller=>"aau_study_types", :action => "new_study_type" %></div>
      <div class="link-descr"><%= t('manage_study_types') %></div>
    </div>
    
    <div class="link-box">
      <div class="link-heading"><%= link_to "#{t('aau_subject_mangement')}", :controller=>"aau_subjects", :action => "add_aau_subject" %></div>
      <div class="link-descr"><%= t('manage_subjects_of_aau') %></div>
    </div>

    <div class="link-box">
      <div class="link-heading"><%= link_to "#{t('aau_subject_types')}", :controller=>"subject_types", :action => "add_subject_type" %></div>
      <div class="link-descr"><%= t('manage_subject_types') %></div>
    </div>


    <div class="link-box">
      <div class="link-heading"><%= link_to "#{t('study_plan_category')}", :controller=>"study_plan_categories", :action => "add_study_plan_category" %></div>
      <div class="link-descr"><%= t('manage_study_plan_category_and_sub_category') %></div>
    </div>
<!-- 
    <div class="link-box">
      <div class="link-heading"><%#= link_to "#{t('aau_subject_prerequisite')}", :controller=>"aau_subjects", :action => "prerequisite_subjects" %></div>
      <div class="link-descr"><%#= t('manage_subject_prerequisites') %></div>
    </div> -->
     <div class="link-box">
     <div class="link-heading"><%= link_to "#{t('synonymous_group')}", :controller=>"synonymous_groups", :action => "new_synonymous_group" %></div>
     <div class="link-descr"><%= t('manage_synonymous_group') %></div>
   </div>

   <div class="link-box">
     <div class="link-heading"><%= link_to "#{t('study_plans')}", :controller=>"study_plans", :action => "index" %></div>
     <div class="link-descr"><%= t('create_and_manage_study_plans') %></div>
   </div>
   
  </div>
</div>

